th {
  padding: 15px;
  width: 250px !important;
  color: var(--white-color);
  background-color: var(--blue-color);
  font-size: 18px;
}

tr {
  transition: all 0.38s;
}

tr:nth-child(even) {
  background-color: var(--white-color);
}

tr:nth-child(odd) {
  background-color: var(--gray-color);
}

tr:hover {
  background-color: burlywood;
}

td {
  text-align: center;
  padding: 15px;
}
